@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@400;500;600;700&display=swap');

@import "tailwindcss";




@layer base {
  html {
    font-family: 'Noto Sans Devanagari', system-ui, sans-serif;
  }
}
